body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "Lucida Console",Monospace;
    background-color: rgb(43, 42, 42);
}  

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 32px;
    color: rgb(31, 209, 31);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

button {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: 4px solid rgb(31, 209, 31);
    color:rgb(31, 209, 31);
    background-color:black;
    font-size: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: rgb(32, 32, 32);
    border: 4px solid rgb(102, 102, 102);
    border-radius: 16px;
    gap: 24px;  
    align-items: center;
}


.buttons {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;

}

.display {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 250px;
    background-color: black;
    border-radius: 16px;
    border:  4px solid rgb(31, 209, 31);
    box-sizing: border-box;
    color: rgb(31, 209, 31);
}